#mainbar{
    text-align: center;
} 

.container-sm{
    position: relative;
}

#invals{
    position: absolute;
    padding-top: 30px;
    padding-left: 35%;
}

#ima{
    padding-top: 150px;
    display: flex;
    justify-content: center;
}
